---
layout: default
class: about-page
title: About
---



{% assign image_url = '/assets/images/about/busa.png' | prepend: site.baseurl %}
{% include heroes/captioned_hero.html
  label='About'
  title='Who We Are'
  caption=caption
  image=image_url
%}

<div class='center-column'>
  <div class='two-column-container one-third-width top-text'>
    <div class='left-column'>
      {% include sidebars/about_left_sidebar.html page=page %}
    </div>
    <div class='right-column' role='main'>
      {% include text/mobile_section_title.html
        category='About'
        title='Who We Are'
      %}








      <h1>Purpose</h1>
      <p>Purpose Our purpose is to establish a dynamic and collaborative hub, bringing together researchers, practitioners, and educators united by their enthusiasm for foundational software tools. We aim to catalyze transformative advancements in scientific computing, fostering a community that thrives on shared knowledge and innovation.</p>

      <h1>Mission</h1>
      <p>Mission At the heart of our mission is the commitment to foster innovation and excellence at the intersection of compiler research and data science. We strive to create a vibrant community that not only facilitates the exchange of ideas but also champions interdisciplinary research. Our ultimate goal is to inspire the next generation of compiler engineers and researchers, contributing to the continuous evolution of these fields.</p>
    

      <h1>Vision</h1>
      <p>Vision We envision a world where individuals can leverage efficient, data-driven solutions to address complex problems in a scalable and reproducible manner. Our focus on providing advanced scientific infrastructure aims to push the boundaries of data analysis, benefiting both scientific and industrial contexts. Through collaboration, we seek to engage researchers across various domains, envisioning a future where data-driven solutions play a pivotal role in addressing global challenges.</p>

    </div>
  </div>

  {% include text/center_section_title.html
    text='OUR CORE TEAM'
    id='team'
  %}

  <div class='color-background circle-caret'>
    {% assign team_members = site.team | where:'group','core_team' | sort: 'order' %}
    {% for team_member in team_members %}
      {% include about/team_member.html team_member=team_member %}
    {% endfor %}
  </div>

  {% capture left_text %}
    <p>Digital Humanities Consultants provide a variety of DH project support, and offer research guidance to Yale faculty, staff, and students during Office Hours.</p>
  {% endcapture %}

  {% capture right_text %}
    <p>Are you a Yale graduate student interested in humanistic questions and in building professional experience and expertise on digital humanities projects in a client-facing role? Starting in Fall 2023, the Yale DHLab welcomes applicants to our DH Consultant positions.</p>
  {% endcapture %}

  {% assign right_button_url = '/awards/student-jobs.html' | prepend: site.baseurl %}

  <div class='tablet-center'>
    {% include text/bottom_text_about.html
      left_title = 'Digital Humanities Consultants'
      left_text = left_text

      right_title = 'Work With Us'
      right_text = right_text
      right_button_url = right_button_url
      right_button_label = 'Student Jobs'
    %}
  </div>

  {% include text/center_section_title.html
    text='OUR GENERALIST CONSULTANTS'
    id='generalists'
  %}

  <div class='color-background circle-caret'>
    {% assign team_members = site.team | where:'group','generalist_consultants' | sort: 'order' %}
    {% for team_member in team_members %}
      {% include about/team_member.html team_member=team_member %}
    {% endfor %}
  </div>

  {% include text/center_section_title.html
    text='OUR SPECIALIST CONSULTANTS'
    id='specialists'
  %}

  <div class='color-background circle-caret'>
    {% assign team_members = site.team | where:'group','specialist_consultants' | sort: 'order' %}
    {% for team_member in team_members %}
      {% include about/team_member.html team_member=team_member %}
    {% endfor %}
  </div>
</div>
